#admin {
    margin: 0;
    background-color:rgb(48,51,54);
    color: black;
    overflow: hidden;
}

#admin .navbar {
    border-radius: 0;
    background-color: rgb(48,51,54);
    border: 1px solid black;
}

.metismenu {
    min-height: 100vh;
}

.content {
    margin-top: 20px;
}