body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.shadow {
  box-shadow: 0px 10px 20px 5px #c6c6c6; 
}

.main {
  margin: 69px 0;
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeOut {
  animation: fadeOut 1s;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100; }
}

@keyframes fadeOut {
  from { opacity: 100; }
  to { opacity: 0; }
}

@keyframes slideDown {
  from { margin-top: -50px }
  to { margin-top: 0; }
}

.d-none {
  display: none !important;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }

  .d-md-none {
    display: none !important;
  }
}

.center-on-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loading-animate {
  opacity: 0;
  animation: 2s loading-blink infinite;
}

@keyframes loading-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}