.outset{
    border-style: outset;
    border-width: .5px;
    width: 50%;
}

.bgcolor {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color:#464c49;
}

.copyright{
    background-color: rgb(31,36,34);
    margin: 0px;
    padding: 15px;
    width: 100%;
    font-size: 14px;
    color: white;
}

.textcolor{
    font-size: 14px;
    color: white;
}

.center{
    text-align: center;
}

.padding{
    padding: 10px;
}