.blackground {
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 25px;
}

.blackground:hover {
  border: 1px solid rgba(0,0,0,0.4);
}

.text {
  color: black;
  text-align: left;
  padding-left: 30px;
}
.product-center {
  margin: 10px auto;
  width: 80%;
  padding: 10px;
}

.button {
  /* background-color: #4caf50; Green */
  /* border: none; */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 30px;
  cursor: pointer;
}

.picture {
  padding: 3%;
  width: 100%;
  height: auto;
}

.outset{
  border-style: outset;
  border-width: .5px;
  width: 25%;
}
