.bar{
    background-color: rgb(31,36,34)	;
    position: fixed;
    top: 0;
    z-index: 99;
    animation: none;
    animation: slideDown 1s;
}

.wrapper {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(31,36,34)	;
}

.col-md-10 {
    padding: 0px
}

.col-md-1 {
    padding: 0px;
    margin-top: 20px;
}

.login {
    font-size: 18px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.login.active {
    color: rgb(48,147,64);
    text-decoration: none;
}

.login {
    padding: 5px;
}

<<<<<<< HEAD
.container{
    margin: 0px;
    padding-left: 10px;
    padding-right: 15px;
    width:100%; 
}

=======
>>>>>>> bf1aa91c32d755801d1d9ac5c9d74838143aa295
.navbar {
    margin: 0px;
}

.navbar-toggle{
    margin: 10px;
}
