.bar{
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 99;
}

.wrapper {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: transparent;
}

.col-md-10 {
    padding: 0px
}

.col-md-1 {
    padding: 0px;
    margin-top: 20px;
}

.login {
    font-size: 18px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.login.active {
    color: rgb(48,147,64);
    text-decoration: none;
}

.white {
    color: white !important;
}

.white:hover {
    border: solid white 0.5px;
}

.transparent {
    background: transparent;
    border: none;
    animation: fadeIn 1s;
}

.non-transparent {
    animation: slideDown 1s;
}

.navbar {
    margin: 0px;
}

.navbar-toggle{
    margin: 10px;
}
