body{
    font-family: "Work Sans", sans-serif;
}
.bar{
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 99;
}

.wrapper {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: transparent;
}

.col-md-10 {
    padding: 0px
}

.col-md-1 {
    padding: 0px;
    margin-top: 20px;
}

.nav {
    margin-top: 13px;
    display: flex;
}

.nav > div > a {
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 20px;
    color: white;
}

.nav div a:hover, .nav div a:focus {
    text-decoration: none;
}

.nav div a:hover {
    color: rgb(48,147,64);
    text-decoration: none;
}

.white {
    color: white !important;
}

.white:hover {
    border: solid white 0.5px;
    color: white !important;
}

.transparent {
    background: transparent;
    /* animation: fade-background-out 1s; */
}

.non-transparent {
    /* animation: slideDown 1s; */
    animation: fade-background-in 1s;
    background-color: #222;
}

@keyframes fade-background-out {
    from {
        background-color: #222;
    }
    to {
        background-color: transparent;
    }
}

@keyframes fade-background-in {
    from {
        background-color: transparent;
    }
    to {
        background-color: #222;
    }
}

.navbar {
    margin: 0px;
    border: none;
}

.navbar-toggle{
    margin: 10px;
}

.dropdown-button {
    background: transparent;
    color: white;
    border: 1px solid transparent;
    font-size: 18px;
    margin-top: -5px;
}

.dropdown-button:hover {
    border: 1px solid white !important;
    color: white !important;
    background: #222 !important;
}

.dropdown-menu {
    margin: 0;
    border: 0.5px solid rgba(255,255,255,0.3);
    font-size: 15px;
}

.dropdown-menu > li > a {
    color: white !important;
}

.dropdown-menu > li > a:hover {
    color: #222 !important;
}

.dropdown-menu div a:hover{
    color: white;
    background: rgba(255,255,255,0.3);
}

@media (max-width: 768px) {
    .navbar-collapse.collapse.in {
        background-color: rgba(0,0,0,0.2);
    }

    .nav {
        display: block !important;
        margin: 0 !important;
    }

    .nav div {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .navbar-collapse.collapsing {
        animation: fade-navitem-in 1s;
    }

    .navbar-collapse div a{
        margin: 5px 10px;
        border-radius: 5px;
    }

    .white:hover {
        border: none;
        background-color: rgba(0,0,0,0.4) !important;
    }

    @keyframes fade-navitem-in {
        from {
            background-color: rgba(0,0,0,0);
    
        }
        to {
            background-color: rgba(0,0,0,0.2);
    
        }
    }
}

