.bar{
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 99;
}

.wrapper {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: transparent;
}

.col-md-10 {
    padding: 0px
}

.col-md-1 {
    padding: 0px;
    margin-top: 20px;
}

.nav {
    display: flex;
}

/* .nav li {
    width: 80px;
} */

.nav a a {
    font-size: 18px;
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}

.nav a a.active {
    color: rgb(48,147,64);
    text-decoration: none;
}

.white {
    color: white !important;
}

.white:hover {
    border: solid white 0.5px;
}

.transparent {
    background: transparent;
    /* animation: fade-background-out 1s; */
}

.non-transparent {
    /* animation: slideDown 1s; */
    animation: fade-background-in 1s;
    background-color: #222;
}

@keyframes fade-background-out {
    from {
        background-color: #222;
    }
    to {
        background-color: transparent;
    }
}

@keyframes fade-background-in {
    from {
        background-color: transparent;
    }
    to {
        background-color: #222;
    }
}

.navbar {
    margin: 0px;
    border: none;
}

.navbar-toggle{
    margin: 10px;
}

.dropdown-button {
    background: transparent;
    color: white;
    border: 1px solid transparent;
    margin-top: 5px;
    font-size: 18px;
}

.dropdown-button:hover {
    border: 1px solid white !important;
    color: white !important;
    background: transparent !important;
}

.dropdown-menu {
    margin: 0;
    border: 0.5px solid rgba(255,255,255,0.3);
    font-size: 15px;
}

.dropdown-menu li a {
    color: white;
}

.dropdown-menu li a:hover{
    color: white;
    background: rgba(255,255,255,0.3);
}

@media (max-width: 768px) {
    .navbar-collapse.collapse.in {
        background-color: rgba(0,0,0,0.2);
    }

    .nav {
        display: block;
        margin: 0 !important;
    }

    .nav a  {
        border: 0 !important;
    }

    .nav li {
        width: auto;
    }

    .navbar-collapse.collapsing {
        animation: fade-navitem-in 1s;
    }

    .navbar-collapse li{
        margin: 5px 10px;
        border: 1px solid rgba(255,255,255,0.5);
        border-radius: 5px;
    }

    .white:hover {
        border: none;
        background-color: rgba(0,0,0,0.4) !important;
    }

    @keyframes fade-navitem-in {
        from {
            background-color: rgba(0,0,0,0);
    
        }
        to {
            background-color: rgba(0,0,0,0.2);
    
        }
    }
}

