.address > * {
    margin: 5px 0;
}

.address > input {
    font-size: 16px !important;
}

.input-div > div > div > div{
    background: red;
    top: auto !important;
    left: auto !important;
}

.gear {
  margin-left: auto;
}

@media screen and (max-width: 652px) {
  .gear {
    margin-left: 0;
  }
}
